<head>
  <!-- Head block including title, metadata, references -->

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Title-->
    <title>Fraserburgh 2021</title>

    <!--Stylesheet References-->

    <!--Font References-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet"> -->

    <!--Bootstrap CSS references-->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- ThreeJS References -->
    <!-- <script type="text/javascript" src="/lib/threejs/three.js"></script> -->
    <!-- <script type="text/javascript" src="/lib/threejs/Detector.js"></script> -->
    <!-- <script type="text/javascript" src="/lib/threejs/OrbitControls.js"></script>
    <script type="text/javascript" src="/lib/threejs/OBJLoader.js"></script>
    <script type="text/javascript" src="/lib/threejs/MTLLoader.js"></script> -->

  <!-- End of Head  Block -->

</head>
