<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../partials/head %>

    <!--Stylesheet CSS References-->
    <link href="/stylesheets/general.css" rel="stylesheet">
    <link href="/stylesheets/citymenu.css" rel="stylesheet">

    <!-- <link href="/stylesheets/index.css" rel="stylesheet"> -->

  </head>

  <body>

      <!-- Navigation Bar -->
      <% include ../partials/navbar %>

      <h1>Virtual Town</h1>

      <h2>Welcome to our virtual town! Select a location for Virtual Reality to start!</h2>

      <div class="menu-container">

        <div class="row">


        </div>

    </div>

      <!--Footer-->
      <% include ../partials/footer %>
      <script type="text/javascript" src="/js/3dviewer.js"></script>
      <script type="text/javascript" src="/js/citymenu.js"></script>
      <!-- <script type="text/javascript" src="/js/gallery.js"></script> -->


  </body>

</html>
