<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link href="/stylesheets/general.css" rel="stylesheet">
  <link href="/stylesheets/content.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation Bar -->
  <% include ../partials/navbar %>

  <div class="pagetitle">
    <!-- <h1></h1> -->
  </div>

  <div class="contentcontainer">

    <div class="description">

      <h2></h2>

      <p>During the 18th century, Fraserburgh became a hotbed of Jacobite resistance.
        This was also reflected in Lord Saltoun’s opposition to the Act of the Union with England in 1707.
        Fraserburgh had manned gates, and a garrison built against the southern edge of the town, probably in the grounds of the building in front of you; Warld’s End.
        This house is considered to be the oldest in Fraserburgh, built over the original house, which was the summer residence of the staunchly Jacobite family,
        the Gordons of Glenbuchat.</p>
    </div>

    <div class="virtualcontainer">

      <div class="modelbox" id="theo_ball">

      </div>

      <a class="vr-link" href="/virtualcity">View in Virtual Reality</a>

    </div>

  </div>

  <!--Footer-->
  <% include ../partials/footer %>
  <script type="text/javascript" src="/js/3dviewer.js"></script>
  <script type="text/javascript" src="/js/content.js"></script>


</body>

</html
