<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cardboard Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!--Stylesheet CSS References-->
    <!-- <link href="/stylesheets/VRstyle.css" rel="stylesheet"> -->
    <link href="/stylesheets/st_andrews.css" rel="stylesheet">

  </head>

  <body>

    <div id="left_hud">
        <div id="guide_circle_left"></div>
        <div id="top_hud_text_area">
            <p class="heading_text"></p></div>
        <div id="bottom_hud_text_area"><p class="info_text"></p></div>
    </div>

    <div id="scene">

      <div id="buttons">

        <button id="VRbutton"> </button>

      </div>

    </div>

    <!--ThreeJS JavaScript References-->
    <script src="lib/threejs/three.js"></script>
    <script src="lib/threejs/StereoEffect.js"></script>
    <script src="lib/threejs/DeviceOrientationControls.js"></script>
    <script src="lib/threejs/OrbitControls.js"></script>
    <script src="lib/threejs/OBJLoader.js"></script>
    <script src="lib/threejs/MTLLoader.js"></script>
    <script src="lib/threejs/FBXLoader.js"></script>
    <script src="lib/threejs/inflate.min.js"></script>
    <script src="lib/threejs/FirstPersonControls.js"></script>
    <script src="lib/threejs/stats.min.js"></script>
    <script src="lib/threejs/WebGL.js"></script>
    <script src="lib/threejs/Sky.js"></script>
    <script src="lib/threejs/dat.gui.min.js"></script>
    <script src="lib/progressbar.js"></script>
    <script src="lib/Tween.js"></script>

    <!--JQuery Script Reference-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--JQuery download script-->
    <script src="/lib/jquery/js/jquery.min.js" type="text/javascript"></script>

    <!-- Kimo Brundfeldt's progress bar for circle -->
    <script src="/lib/progressbar.js"></script>

    <!-- Sole's tween.js, used to somplify 'touching'  -->
    <script src="/lib/Tween.js"></script>

    <!--Main JavaScript Reference -->
    <!-- <script type="text/javascript" src="/js/VR.js"></script> -->
    <script type="text/javascript" src="/js/st_andrews.js"></script>

  </body>
</html>
